<p class="teaser-text">Coming to Garrison Day 2015 in Beaver, PA</p>
<div class="container">
  <div class="splash-container">
    <div class="splash-centered">
      <h1 class="splash-title splash-centered">Ornamented Frozen Bananas</h1>
      <h2 class="splash-subtitle">
        You like bananas. Your kids like Frozen. Yeah.
      </h2>
    </div>
    <img src="img/banana.png" class="splash-image splash-centered">
  </div>
</div>

