<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Frozen Bananas in Beaver, PA | Bananananabooboo</title>      
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">  
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
  </head>
  <body>
    {% comment %}<header class="main-header"> {% endcomment %}
      {% comment %}<div class="container"> {% endcomment %}
        {% comment %}<a class="main-logo" href="/">{% endcomment %}
          {% comment %}Banana-Nana-Booboo{% endcomment %}
        {% comment %}</a>{% endcomment %}
      {% comment %}</div>{% endcomment %}
    {% comment %}</header>{% endcomment %}
    {{ view }} 
  </body>
</html>
